<section class="content dark contact collapse">
	<div class="row">
		<div class="column column-about">
			<div class="row">
				<h3 class="h4">Bols</h3>
				<div class="column column-address">
					Paulus Potterstraat 12 <br>
					1071 CZ Amsterdam <br>
					<a href="tel:+310205708575">+31 020 570 85 75</a><br>
					<a href="mailto:training@lucasbols.com">training@lucasbols.com</a>
				</div>
				<div class="column column-info">
					<p>
						<strong>Opening hours</strong><br>
						Monday till Friday from 09.00 - 17.00 hrs.
					</p>
				</div>
			</div>
		</div>
		<div class="column column-map">
			<img src="/assets/img/dummy4.jpg" alt="">
		</div>
	</div>
</section>