<header class="main-header">
	<div class="logo"><a href=""></a></div>
	<nav>
		<div class="nav-item hamburger" data-interaction="togglenav" data-toggle="main-menu">menu <span></span>
			<div class="menu" id="main-menu">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Courses</a></li>
					<li><a href="#">About us</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
				<div class="menu-lang">
					<a href="">eng</a>
					<a href="">nl</a>
				</div>
			</div>
		</div>
		<a href="" class="nav-item" data-interaction="togglecontact">contact</a>
		
	</nav>
</header>